---
layout: base.njk
---

<article class="news-detail">
  <h1 class="news-detail__title">{{ title }}</h1>
  <time class="news-detail__date">{{ date | jpDate }}</time>
  <div class="news-detail__body">
    {{ content | safe }}
  </div>
</article>