.calendar-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  border-radius: 8px;
  padding: 1rem 1rem 1rem; /* 下に矢印分の余白 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.calendar__month {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* カレンダー矢印ボタン共通 */
.calendar__prev,
.calendar__next {
  width: 28px;
  height: 28px;
  border: none;
  background-color: #333;
  border-radius: 50%; /* 正円 */
  cursor: pointer;
  position: absolute;
  top: 36px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.calendar__prev:hover,
.calendar__next:hover {
  background-color: #555;
  transform: scale(1.1);
}

/* 丸みを帯びた三角形矢印 */
.calendar__prev::after,
.calendar__next::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  clip-path: polygon(20% 0%, 80% 50%, 20% 100%); /* デフォルトは右向き */
}

.calendar__prev::after {
  transform: rotate(180deg); /* 左向きに反転 */
}

.calendar__prev {
  left: 16px;
}
.calendar__next {
  right: 16px;
}

.calendar__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 2rem;
}

.calendar__table th,
.calendar__table td {
  text-align: center;
  padding: 0.5rem 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9rem;
  border: #b1bfff 1px solid;
}

.calendar__day--open {
  color: #333;
  background-color: #f0f3ff;
}

.calendar__day--closed {
  color: #cacaca;
  border-radius: 4px;
}

.calendar__day--future {
  color: #999;
}
