@import "normalize.css";

/* body のベーススタイル */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin: 0;
}

/* リンク */
a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ヘッダーとフッター */
header, footer {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

/* コンテナ */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}