---
layout: base.njk
title: プロフィール
permalink: /profile/index.html
---

<section class="profile-ws">

  <div class="profile-ws__content">
    <img src="/assets/images/profile-ohmori.png" alt="藍染屋ミオカザロ代表の笑顔" class="profile-ws__image">

    <div class="profile-ws__text-group">
    <h2 class="profile-ws__heading-main">わたくし、<span class="sp-break"></span>大森佳幸と申します！</h2>
      <h3 class="profile-ws__heading-sub">藍に愛をこめて…</h3>
      <p class="profile-ws__text">
        福島県喜多方市に生まれました。一念発起して上京。<br>
        首都圏で様々な仕事に従事していました。<br>
        しかし、農業という分野への憧憬を思い出し再び農業の道に進みます。埼玉県で農業の修行をした後、磐梯町地域おこし協力隊として再び会津の地へ。<br><br>
        妻や仲間たちとともに、農業をする人と農業に関わる人。全ての人が楽しい農業を目指して日々奮闘しています。
      </p>
    </div>
  </div>
</section>


<section class="profile-ws__photos">
  <div class="profile-ws__photo-list">
    <img src="/assets/images/profile-main-1.png" alt="写真1" class="profile-ws__photo">
    <img src="/assets/images/profile-main-2.png" alt="写真2" class="profile-ws__photo">
    <img src="/assets/images/profile-main-3.png" alt="写真3" class="profile-ws__photo">
  </div>

  <p class="profile-ws__catchphrase">どうぞ、よろしくお願いします！</p>
</section>



<section class="about-ws__blog-links">
  <!-- ボックス1 -->
  <div class="about-ws__box">
    <p class="about-ws__box-text">
      藍染屋ミオカザロへの<span class="sp-break"></span>想いを綴ってます。
    </p>
    <a href="/about" class="about-ws__box-btn">ミオカザロ誕生の想い</a>
  </div>

  <!-- ボックス2（note記事） -->
  <div class="about-ws__box">
    <p class="about-ws__box-text">
      noteで日々の軌跡を綴ってます。
    </p>

    <div class="about-ws__note-list">
    　  <iframe 
            src="https://note.com/username/n/n記事ID/embed" 
            frameborder="0" 
            width="100%" 
            height="200" 
            scrolling="no"
            style="border-radius:6px; overflow:hidden;">
        </iframe>
    </div>
  </div>
</section>

<script>
document.querySelectorAll('.about-ws__note-article').forEach(link => {
  const card = link.querySelector('.about-ws__note-card');
  const title = link.dataset.title;
  const excerpt = link.dataset.excerpt;

  card.innerHTML = `
    <h4 class="about-ws__note-title">${title}</h4>
    <p class="about-ws__note-excerpt">${excerpt}</p>
  `;
});
</script>