---
layout: base.njk
title: 工房紹介
permalink: /workshop/index.html
---

<section class="charm-ws__page-hero">
  <picture>
    <!-- PC用画像 -->
    <source srcset="/assets/images/head-pc-1.png" media="(min-width: 768px)">
    <!-- SP用画像 -->
    <img src="/assets/images/head-sp-1.png" alt="藍染屋ミオカザロの藍染体験" class="charm-ws__page-hero-image">
  </picture>
  <h1 class="charm-ws__page-hero-text">藍染屋ミオカザロの<span class="sp-break"></span>藍染体験</h1>
</section>


<!---
<section class="charm-ws">
  <div class="charm-ws__visual">
    <picture>
      
      <source srcset="/assets/images/general_1440x540.jpg" media="(min-width: 768px)">
      
      <img src="/assets/images/general_600x600.jpg" alt="藍染工房の魅力" class="charm-ws__visual-image">
    </picture>
    <p class="charm-ws__visual-text">
      あなたの手で生み出す<br>唯一無二の色
    </p>
  </div>

  <h2 class="charm-ws__heading">なぜ、藍染は<span class="sp-break"></span>特別なのでしょうか</h2>

  <div class="charm-ws__features">
    <div class="charm-ws__feature">
      <h3 class="charm-ws__feature-title">深い藍色を目指して</h3>
      <img src="/assets/images/general_600x240.jpg" alt="魅力1" class="charm-ws__feature-image">
      <p class="charm-ws__feature-text">藍色は「ジャパンブルー」として世界でも認知される日本との結びつきの深い色と言われています。この色がどのように出来上がっているのか、知ってみませんか？</p>
    </div>
    <div class="charm-ws__feature">
      <h3 class="charm-ws__feature-title">手仕事が生む喜び</h3>
      <img src="/assets/images/general_600x240.jpg" alt="魅力2" class="charm-ws__feature-image">
      <p class="charm-ws__feature-text">自らの手で染めたいものを染めてみる。ただそれだけのことから手仕事の楽しみは広がります。</p>
    </div>
    <div class="charm-ws__feature">
      <h3 class="charm-ws__feature-title">温かい出会い</h3>
      <img src="/assets/images/general_600x240.jpg" alt="魅力3" class="charm-ws__feature-image">
      <p class="charm-ws__feature-text">工房主人との会話から、会津地方への扉は次々に開かれていきます。会津地方を知ることのきっかけとしてもぜひご利用ください。</p>
    </div>
  </div>

  <div class="charm-ws__recommend">
    <picture>
      <source srcset="/assets/images/general_1440x540.jpg" media="(min-width: 768px)">
      <img src="/assets/images/general_600x600.jpg" alt="予約イメージ" class="charm-ws__recommend-image">
    </picture>
    <div class="charm-ws__recommend-overlay">
      <p class="charm-ws__recommend-text">あなたも、<span class="sp-break"></span>この特別な体験をしてみませんか？</p>
      <p class="charm-ws__recommend-text-small">初心者の方も安心して<span class="sp-break"></span>ご参加いただけます。</p>
      <a href="#reserve" class="charm-ws__recommend-button">体験予約はこちら</a>
    </div>
  </div>
</section>
---->


<section class="workshop-ws__overview">
  <!-- セクション見出し -->
  <h2 class="workshop-ws__overview-heading visually-hidden">工房体験について</h2>

  <div class="workshop-ws__overview-list">
    <!-- 円1 -->
    <div class="workshop-ws__overview-item">
      <div class="workshop-ws__overview-circle">
        <div class="workshop-ws__overview-texts">
          <p class="workshop-ws__overview-text-small">おとなこども共通</p>
          <p class="workshop-ws__overview-text-big">1名/¥ 2,000~</p>
          <p class="workshop-ws__overview-text-small">丁寧にお教えします<br>失敗も楽しみのひとつ</p>
        </div>
      </div>
    </div>

    <!-- 円2 -->
    <div class="workshop-ws__overview-item">
      <div class="workshop-ws__overview-circle">
        <div class="workshop-ws__overview-texts">
          <p class="workshop-ws__overview-text-big">約60~90分</p>
          <p class="workshop-ws__overview-text-big">手ぶらでOK</p>
          <p class="workshop-ws__overview-text-small">エプロン・材料<br>すべてご用意しております。</p>
        </div>
      </div>
    </div>

    <!-- 円3 -->
    <div class="workshop-ws__overview-item">
      <div class="workshop-ws__overview-circle">
        <div class="workshop-ws__overview-texts">
          <p class="workshop-ws__overview-text-big">染めたいもの<br>持ち込み自由</p>
          <p class="workshop-ws__overview-text-small">Tシャツでもハンカチでも。<br>参加者の皆様の創作欲に<br>お答えします。</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="workshop-ws__overview">
  <!-- セクション見出し -->
  <h2 class="workshop-ws__flow-heading">体験の流れ</h2>

<div class="workshop-ws__flow-item-container">

<div class="workshop-ws__flow-item">

  <div class="workshop-ws__flow-step-circle">
    <span class="workshop-ws__flow-step-number">1</span>
  </div>

  <img src="/assets/images/general_600x240.jpg" alt="体験1" class="workshop-ws__flow-image">

  <div class="workshop-ws__flow-texts">
    <h3 class="workshop-ws__flow-subheading">ご予約確認・ご挨拶</h3>
    <p class="workshop-ws__flow-description">ご予約時に入力いただいたお名前をお聞きいたします。ご予約時間に遅れる場合。当日キャンセルの場合は必ずご連絡ください。
※料金は事前お支払いです。キャッシュレス対応</p>
  </div>

  <div class="workshop-ws__flow-bubble-wrapper">
    <div class="workshop-ws__flow-bubble">
      <p class="workshop-ws__flow-bubble-text">まずはお茶でも飲みながら<br>長旅の疲れを癒してください！</p>
    </div>
    <img src="/assets/images/ws-flow-comment.png" alt="代表写真" class="workshop-ws__flow-rep">
  </div>
</div>

<div class="workshop-ws__flow-item">

  <div class="workshop-ws__flow-step-circle">
    <span class="workshop-ws__flow-step-number">2</span>
  </div>

  <img src="/assets/images/general_600x240.jpg" alt="体験1" class="workshop-ws__flow-image">

  <div class="workshop-ws__flow-texts">
    <h3 class="workshop-ws__flow-subheading">商品決定</h3>
    <p class="workshop-ws__flow-description">染めたい商品を選んでください。商品によって、製作にかかる時間が変わりますので、気になることはご質問ください。</p>
  </div>

  <div class="workshop-ws__flow-bubble-wrapper">
    <div class="workshop-ws__flow-bubble">
      <p class="workshop-ws__flow-bubble-text">染めたいイメージを膨らませよう！</p>
    </div>
    <img src="/assets/images/ws-flow-comment.png" alt="代表写真" class="workshop-ws__flow-rep">
  </div>
</div>

<div class="workshop-ws__flow-item">

  <div class="workshop-ws__flow-step-circle">
    <span class="workshop-ws__flow-step-number">3</span>
  </div>

  <img src="/assets/images/general_600x240.jpg" alt="体験1" class="workshop-ws__flow-image">

  <div class="workshop-ws__flow-texts">
    <h3 class="workshop-ws__flow-subheading">染め方のレクチャー</h3>
    <p class="workshop-ws__flow-description">藍についての講義です。楽しく深く、藍という植物や藍染の工程についてご説明いたします！</p>
  </div>

  <div class="workshop-ws__flow-bubble-wrapper">
    <div class="workshop-ws__flow-bubble">
      <p class="workshop-ws__flow-bubble-text">初心者にもわかりやすく藍の知識もお土産にどうぞ！</p>
    </div>
    <img src="/assets/images/ws-flow-comment.png" alt="代表写真" class="workshop-ws__flow-rep">
  </div>
</div>

<div class="workshop-ws__flow-item">

  <div class="workshop-ws__flow-step-circle">
    <span class="workshop-ws__flow-step-number">4</span>
  </div>

  <img src="/assets/images/general_600x240.jpg" alt="体験1" class="workshop-ws__flow-image">

  <div class="workshop-ws__flow-texts">
    <h3 class="workshop-ws__flow-subheading">いよいよ染色</h3>
    <p class="workshop-ws__flow-description">一つ一つの工程が大切な藍染を丁寧に教えます。お子様でも安心してご参加いただける内容です！</p>
  </div>

  <div class="workshop-ws__flow-bubble-wrapper">
    <div class="workshop-ws__flow-bubble">
      <p class="workshop-ws__flow-bubble-text">一番楽しいところですね！</p>
    </div>
    <img src="/assets/images/ws-flow-comment.png" alt="代表写真" class="workshop-ws__flow-rep">
  </div>
</div>

<div class="workshop-ws__flow-item">

  <div class="workshop-ws__flow-step-circle">
    <span class="workshop-ws__flow-step-number">5</span>
  </div>

  <img src="/assets/images/general_600x240.jpg" alt="体験1" class="workshop-ws__flow-image">

  <div class="workshop-ws__flow-texts">
    <h3 class="workshop-ws__flow-subheading">完成！</h3>
    <p class="workshop-ws__flow-description">藍染の完成です！藍染が染みないように気をつけてお持ち帰りください。</p>
  </div>

  <div class="workshop-ws__flow-bubble-wrapper">
    <div class="workshop-ws__flow-bubble">
      <p class="workshop-ws__flow-bubble-text">大切にお持ち帰りください！</p>
    </div>
    <img src="/assets/images/ws-flow-comment.png" alt="代表写真" class="workshop-ws__flow-rep">
  </div>
</div>

</div>


</section>


<section class="price-ws">
  <h2 class="price-ws__heading">料金</h2>

  <div class="price-ws__top-description">
    <p class="price-ws__top-text">2つのコースからお選びください</p>
    <p class="price-ws__top-text">選べる商品は10点以上！！</p>
  </div>

  <!-- ボックス1 & ボックス2 ラッパー（PC横並び対応）-->
  <div class="price-ws__box-wrapper-container">

    <!-- ボックス1: おてがるコース -->
    <div class="price-ws__box-wrapper">
      <p class="price-ws__box-note">ライトに楽しむならこちら</p>

      <div class="price-ws__course">
        <p class="price-ws__course-main">おてがるコース</p>
        <p class="price-ws__course-sub">時間:60分</p>
        
      </div>

      <div class="price-ws__box">
        <p class="price-ws__box-text-price">料金: ¥2,000~</p>
        <p class="price-ws__box-text">
          染めたい商品を1つ選び、<br>
          おでかけのお供に藍染を！
        </p>
        <p class="price-ws__box-text">
          ハンカチ・てぬぐい・巾着など、<br>
          小さな商品が選べます。
        </p>

        <img src="/assets/images/ws-work-small.png" alt="小さめの商品のイメージ" class="price-ws__box-image">
      </div>
    </div>

    <!-- ボックス2: じっくりコース -->
    <div class="price-ws__box-wrapper">
      <p class="price-ws__box-note">大きめの商品をこだわって染めてみたい! <span class="sp-break"></span>商品持参で染めたい!</p>

      <div class="price-ws__course">
        <p class="price-ws__course-main">じっくりコース</p>
        <p class="price-ws__course-sub">時間:90分</p>
      </div>

      <!-- プランA & プランB 横並びラッパー -->
      <div class="price-ws__plan-container">
        <!-- プランA -->
        <div class="price-ws__plan">
          <div class="price-ws__highlight">
            <p class="price-ws__highlight-main">プランA</p>
          </div>
          <div class="price-ws__box">
            <p class="price-ws__box-text-price">料金: ¥4,000~</p>
            <p class="price-ws__box-text">
              染めたい商品を1つ選んで、<br>
              日常に藍の彩りを！
            </p>
            <p class="price-ws__box-text">
              ストール・バック・Tシャツなど、<br>
              大きめの商品が選べます。
            </p>

            <img src="/assets/images/ws-work-big.png" alt="小さめの商品のイメージ" class="price-ws__box-image">
          </div>
        </div>

        <!-- プランB -->
        <div class="price-ws__plan">
          <div class="price-ws__highlight">
            <p class="price-ws__highlight-main">プランB</p>
          </div>
          <div class="price-ws__box">
            <p class="price-ws__box-text-price">料金: 1g/¥30~</p>
            <p class="price-ws__box-text-small">
              綿・麻・レーヨン・シルク・ウールのみ
            </p>
            <p class="price-ws__box-text">
              持ち込み自由！<br>
              あなたの染めたいものを自由に染めよう！<br>
              例えば、スニーカーなら…<br>約10000円で染められます！
            </p>
          </div>

      <!-- 注意事項 -->
      <div class="price-ws__note-container">
          <div class="price-ws__note-box">
            <p class="price-ws__note-mention">※</p>
            <p class="price-ws__note">持込み用は綺麗な状態でお願いいたします。土や泥が付いている状態では染められません。</p>
          </div>
          <div class="price-ws__note-box">
            <p class="price-ws__note-mention">※</p>
          <p class="price-ws__note">化学繊維の素材は染められません。</p>
          </div>
      </div>

        </div>
      </div>
    </div>    
  </div>

      <div class="price-ws__bottom-description">
        <p class="price-ws__bottom-description-text">
          おてがるコース・じっくりコースのプランAでは、お選びいただく商品によって、お値段が変わります。
        </p>
        <p class="price-ws__bottom-description-text">
          エプロンの貸出、使い捨て手袋の支給があります。
        </p>
      </div>

</section>


<section class="mention-ws">
  <!-- お持ち物 -->
  <div class="mention-ws__item">
    <h2 class="workshop-ws__item-heading">お持ち物</h2>
    <p class="mention-ws__text">
      汚れてもいい服・靴でご来店ください。髪が長い方は髪の毛をまとめられるもの、帽子などをご用意いただくと安心して体験いただけます。手をよく洗いますので、タオルのご持参をおすすめしています。
    </p>
  </div>

  <!-- 注意事項 -->
  <div class="mention-ws__item">
    <h2 class="workshop-ws__item-heading">注意事項</h2>
    <p class="mention-ws__text">
      藍染の特性上、お着物などお荷物への着色の可能性がございます。お荷物の管理はご自身で行っていただくようにお願いいたします。<br><br>
      お荷物置き場をご用意しております。お荷物はこちらに保管の上、写真撮影などの際に携帯電話をご利用される際はご自身の責任でご利用いただきますようお願いいたします。<br><br>
      未就学児の方の体験は保護者の方の付き添いが必須となります。
    </p>
  </div>
</section>



<section class="workshop-info-ws">
  <div class="workshop-info-ws__boxes">
    <!-- アクセス -->
    <div class="access-ws__box">
      <h2 class="workshop-ws__heading">アクセス</h2>

      <div class="access-ws__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d818489.0328619406!2d139.1129006154534!3d36.74122322315971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8aa958262e378f%3A0x13ac4435760c5c3f!2z6JeN5p-T5bGL44Of44Kq44Kr44K244Ot!5e0!3m2!1sja!2sjp!4v1756988001460!5m2!1sja!2sjp" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      <div class="access-ws__item">
        <h4 class="access-ws__subheading">住所</h4>
        <p>〒969-3301<br>福島県耶麻郡磐梯町〇〇〇</p>
      </div>

      <div class="access-ws__item">
        <h4 class="access-ws__subheading">駐車場</h4>
        <p>2台分あり</p>
      </div>

      <img src="/assets/images/miocasalo-access.png" alt="藍染屋ミオカザロアクセス" class="access-ws__image">

      <div class="access-ws__note">
        <p>迷われたらお気軽にお電話ください。小さな看板が目印です。</p>
        <p>公共交通機関でのアクセスは困難です。そのためお車でのお越しを推奨しております。</p>
        <p>電車でお越しの場合は、翁島駅から徒歩30分です。<br>猪苗代駅・磐梯町駅から車で12分です。</p>
      </div>
    </div>

    <!-- 営業時間 -->
    <div class="hours-ws__box">
      <h2 class="workshop-ws__heading">営業日</h2>

        <div class="calendar-wrapper">
            <button class="calendar__prev"></button>
          <div class="calendar__month"></div>
            <button class="calendar__next"></button>
          <div class="calendar"></div>
        </div>

      <div class="hours-ws__item">
        <h4 class="hours-ws__subheading">営業時間</h4>
        <p>9:00〜17:00（不定休）</p>
      </div>

      <div class="hours-ws__item">
        <h4 class="hours-ws__subheading">コース予約時間</h4>
        <p>9:00〜</p>
        <p>11:00〜</p>
        <p>13:00〜</p>
        <p>15:00〜</p>
      </div>
    </div>
  </div>
</section>


<section class="reserve-ws">
  <h2 class="workshop-ws__heading">ご予約について</h2>

　<a href="予約フォームのURL" class="reserve-ws__cta">
    <p class="reserve-ws__cta-text">フォームから予約する</p>
    <p class="reserve-ws__cta-text">別ページに飛びます</p>
  </a>

  <!-- 枠線ボックス -->
  <div class="reserve-ws__box">

    <!-- 説明文ラッパー -->
    <div class="reserve-ws__info">
      <p class="reserve-ws__box-text">
        または、<br>
        電話・メール・InstagramのDMからもご予約いただけます。<br>
        ※ ご希望日前日の12時までにご連絡ください。<br>
        ※ メール・Instagramの場合、2~3日以内にご連絡いたします。
      </p>

      <hr/>

      <p class="reserve-ws__box-text">
        以下の内容をお知らせください。
      </p>

      <p class="reserve-ws__box-text">
        ① お名前<br>
        ② 代表者様のお電話番号<br>
        ③ 参加コース( おてがるor じっくり)<br>
        ④ 参加人数<br>
        ⑤ 参加希望時間<br>　（9時~,11時~,13時~,15時~）<br>
      </p>
    </div>

    <!-- 連絡先ラッパー -->
    <div class="reserve-ws__contacts">
      <div class="reserve-ws__item">
        <h4 class="reserve-ws__subheading">電話</h4>
        <p>090-1234-5678</p>
      </div>

      <div class="reserve-ws__item">
        <h4 class="reserve-ws__subheading">メールアドレス</h4>
        <p><a href="mailto:aaaaaa@aaaa.com">aaaaaa@aaaa.com</a></p>
      </div>

      <div class="reserve-ws__item">
        <h4 class="reserve-ws__subheading">Instagram（DM）</h4>
        <p><a href="https://instagram.com/aaaaa" target="_blank">@aaaaa</a></p>
      </div>
    </div>

  </div>
</section>




<section class="faq-ws">
  <h2 class="faq-ws__heading">よくある質問</h2>

  <div class="faq-ws__item">
    <div class="faq-ws__qa">
      <span class="faq-ws__label">Q.</span>
      <p class="faq-ws__text">全くの初心者ですが大丈夫ですか？</p>
    </div>
    <div class="faq-ws__qa">
      <span class="faq-ws__label">A.</span>
      <p class="faq-ws__text">はい、むしろ初心者の方に丁寧に指導することを大切にしています。失敗を恐れず、一緒に楽しみましょう。</p>
    </div>
  </div>

  <div class="faq-ws__item">
    <div class="faq-ws__qa">
      <span class="faq-ws__label">Q.</span>
      <p class="faq-ws__text">服装や持ち物は？</p>
    </div>
    <div class="faq-ws__qa">
      <span class="faq-ws__label">A.</span>
      <p class="faq-ws__text">汚れても良い服装でお越しください。エプロンは工房で用意します。その他、ご質問などがございましたらお気軽にInstagramのDMまでご連絡ください。</p>
    </div>
  </div>

  <div class="faq-ws__item">
    <div class="faq-ws__qa">
      <span class="faq-ws__label">Q.</span>
      <p class="faq-ws__text">車でしかアクセスできませんか？</p>
    </div>
    <div class="faq-ws__qa">
      <span class="faq-ws__label">A.</span>
      <p class="faq-ws__text">公共交通機関でのアクセスは困難です。そのためお車でのお越しを推奨しております。その分、工房周辺は静かで創作に集中できる環境です。</p>
    </div>
  </div>

  <div class="faq-ws__item">
    <div class="faq-ws__qa">
      <span class="faq-ws__label">Q.</span>
      <p class="faq-ws__text">作品の持ち帰りはその日にできますか？</p>
    </div>
    <div class="faq-ws__qa">
      <span class="faq-ws__label">A.</span>
      <p class="faq-ws__text">はい。お持ち帰り可能です。ただ乾かすにはかなりのお時間がかかります。乾き切る前にお持ち帰りいただきますので、ビニールをお渡しいたします。</p>
    </div>
  </div>
</section>